<div>This is the private page for the user {{{user.username}}}</div>
<div style="float: right"> <a href="/logout">Logout</a> </div>
<div>
	<h4>Hello!! {{{user.username}}}</h4>
	<h5>Your Details:</h5>
	<ul>
		<li>First Name:{{{user.firstName}}} </li>
		<li>Last Name: {{{user.lastName}}}</li>
		<li>Profession: {{{user.Profession}}}</li>
		<li>Bio: {{{user.Bio}}}</li>
	</ul>

</div>